# Gradle
.gradle/
build/

# Local configuration
*.log
*.lock
*.env
.env*

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# Spring Boot
target/
*.jar
*.war


# Test reports
test-output/
surefire-reports/
jacoco.exec

# Other
!gradle/wrapper/gradle-wrapper.jar